html {
    font-size: 10px;
    @include media(800px) {
        font-size: 11px;
    }
}

body {
    background-color: #fff;
    margin: 0 auto;
    font-family: Playfair_Display;
    color: #626262;
}