@font-face {
    font-family: 'Playfair_Display';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
    font-weight: 300;
    font-style: normal;
}