%text {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #000000;
}

.footer {
    padding: {
        top: 4rem;
        bottom: 4rem;
    }
    background-color: #f0f0f0;
    &__container {
        @extend %container;
        display: flex;
        justify-content: space-between;
        @include media(370px) {
            margin: {
                right: 20px;
                left: 20px;
            }
        }
    }
}

.copyright {
    @include media(650px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item {
        @extend %text;
        margin: {
            left: 1rem;
            right: 1rem;
        }
        @include media(650px) {
            margin: {
                left: 0;
                right: 0;
            }
        }
        &:first-child {
            margin-left: -1rem;
        }
    }
}

.social {
    display: flex;
    @include media(650px) {
        flex-direction: column;
        align-items: center;
    }
    &__follow {
        @extend %text;
        margin-right: 2rem;
        @include media(650px) {
            margin-right: 0;
        }
    }
    &__container {
        display: flex;
    }
    &__ref {
        padding: 0 1rem 0;
    }
    &__icon {
        width: 20px;
        height: 20px;
        fill: #6a6969;
        &:hover {
            fill: #343434;
            transform: scale(1.2);
        }
    }
}