.header {
    display: flex;
    justify-content: space-between;
    margin: 7rem;
    @include media(670px) {
        margin: 3rem;
    }
    @include media(500px) {
        margin: 2rem;
    }
}

.logo__image {
    width: 100%;
    @include media(500px) {
        width: 70%;
        padding-top: 10px;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 580px;
    @include media(930px) {
        width: 450px;
    }
    @include media(800px) {
        width: 350px;
    }
    @include media(670px) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 200px;
        max-height: 0;
        position: absolute;
        top: 40px;
        right: -5px;
        background-color: #f0f0f0;
        border-radius: 2px;
        transition: 1s;
        overflow: hidden;
    }
    &__item {
        @include media(670px) {
            padding: 15px;
        }
    }
    &__ref {
        font-family: Playfair_Display;
        font-size: 1.4rem;
        line-height: 2.4rem;
        text-transform: uppercase;
        color: #626262;
        @include media(670px) {
            font-size: 2rem;
        }
        &:hover {
            color: #141414;
            border-bottom: 1px solid #141414;
        }
    }
    &__button-hidden {
        display: none;
        @include media(670px) {
            display: block;
            font: {
                size: 24px;
                weight: normal;
            }
            line-height: 30px;
            color: #626262;
            text-transform: uppercase;
            background: none;
            border: 1px solid #141414;
            border-radius: 5px;
            box-shadow:
                    0px 3px rgba(128,128,128,1),
                    0px 6px 3px -1px rgba(128,128,128,1);
            transition: box-shadow 0.1s ease-in-out;
            cursor: pointer;
        }
        &:active {
            transform: translate(0, 2px);
            box-shadow:
                    0px 3px rgba(128,128,128,1);
        }
    }
    &__list_visibility_visible {
        max-height: 250px;

    }
}

nav {
    position: relative; //для того, чтобы расположить абсолютно спозиционированный жлемент 'menu'
}
