%hint {
    font: {
        family: Ubuntu;
        weight: 300;
        size: 1.4rem;
    }
    text-transform: uppercase;
    color: #b4ad9e;
    display: inline-block;
}

%container {
    margin: {
        left: 150px;
        right: 150px;
    }
}

%title {
    font: {
        size: 3rem;
        weight: 400;
    }
}

%description {
    font: {
        family: Playfair_Display;
        size: 1.4rem;
    }
    line-height: 2.4rem;
}

.first-post {
    margin-bottom: 100px;
    &__photo {
        margin: 0px 70px 80px;
    }
    &__hint {
        @extend %hint;
        @extend %container;
        margin: {
            top: 15px;
            bottom: 15px;
        }
        &:last-child {
            margin: {
                top: 25px;
                bottom: 25px;
            }
        }
    }
    &__title {
        @extend %title;
        @extend %container;
        margin: {
            top: 15px;
            bottom: 15px;
        }
    }
    &__description {
        @extend %description;
        @extend %container;
        margin: {
            top: 25px;
            bottom: 25px;
        }
    }
}

.photodiary {
    &__container {
        @extend %container;
    }
    &__posts {
        @include row_grid(30px);
    }
}

.post {
    @include col_grid(6, 30px);
    &__image {
        margin: {
            top: 15px;
            bottom: 15px;
        }
    }
    &__hint {
        @extend %hint;
        margin: {
            top: 15px;
            bottom: 15px;
        }
    }
    &__title {
        @extend %title;
        margin: {
            top: 15px;
            bottom: 15px;
        }
    }
    &__description {
        @extend %description;
        margin: {
            top: 25px;
            bottom: 120px;
        }
    }
}

.form {
    padding: {
        top: 65px;
        bottom: 65px;
    }
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__title {
        @extend %title;
        color: #333333;
        margin: 0 0 40px 0;;
    }
    &__email {
        margin-top: 40px;
        padding-bottom: 10px;
        width: 400px;
        border: none;
        background-color: transparent;
        @extend %description;
        border-bottom: 1px solid #333333;
        &::placeholder {
            color: #626262;
        }
    }
    &__button {
        position: relative;
        left: 175px;
        bottom: 30px;
        border: none;
        background: none;
        cursor: pointer;
    }
}

.photodiary__button {
    font-size: 2rem;
    line-height: 2.4rem;
    padding: 21px 34px;
    border: 1px solid #626262;
    margin: {
        top: 45px;
        bottom: 45px;
    }
}



