%hint {
    font: {
        family: Ubuntu;
        weight: 300;
        size: 1.4rem;
    }
    text-transform: uppercase;
    color: #b4ad9e;
    display: inline-block;
}

%container {
    max-width: 1350px;
    margin: {
        left: 15rem;
        right: 15rem;
    }
    @include media(1160px) {
        margin: {
            left: 5rem;
            right: 5rem;
        }
    }
    @include media(500px) {
        margin: {
          left: 2rem;
          right: 2rem;
        }
    }
}

%title {
    font: {
        size: 3rem;
        weight: 400;
    }
}

%description {
    font: {
        family: Playfair_Display;
        size: 1.4rem;
    }
    line-height: 2.4rem;
}

.first-post {
    margin-bottom: 100px;
    &__photo {
        display: block;
        margin: 0 auto 8rem;
        width: 90%;
    }
    &__hint {
        @extend %hint;
        @extend %container;
        margin: {
            top: 1.5rem;
            bottom: 1.5rem;
        }
        @include media(768px) {
            margin: {
                top: 0.75rem;
                bottom: 0.75rem;
            }
        }
        &:last-child {
            margin: {
                top: 2.5rem;
                bottom: 2.5rem;
            }
        }
    }
    &__title {
        @extend %title;
        @extend %container;
        margin: {
            top: 1.5rem;
            bottom: 1.5rem;
        }
        @include media(768px) {
          margin: {
            top: 0.75rem;
            bottom: 0.75rem;
          }
        }
    }
    &__description {
        @extend %description;
        @extend %container;
        margin: {
            top: 2.5rem;
            bottom: 2.5rem;
        }
        @include media(768px) {
          margin: {
            top: 1rem;
            bottom: 1rem;
          }
        }
    }
}

.photodiary {
    &__container {
        @extend %container;
    }
    &__posts {
        @include row_grid(3rem);
        @include media(650px) {
            @include row_grid(1rem);
        }
    }
    &__button {
      display: block;
      font: {
        family: Playfair_Display;
        size: 2rem;
      }
      line-height: 2.4rem;
      padding: 2rem 3.5rem;
      margin: 4.5rem auto;
      border: 1px solid #626262;
      background: transparent;
      cursor: pointer;
      @include media(768px) {
          padding: 1rem 1.5rem;
          margin: 2.5rem auto;
      }
    }
}

.post {
    @include col_grid(5.5, 3rem);
    @include media(650px) {
        @include col_grid(12, 1rem);
    }
    &__image {
      width: 100%;
      margin: {
        top: 1.5rem;
        bottom: 1.5rem;
      }
      @include media(768px) {
        margin: {
          top: 1rem;
          bottom: 1rem;
        }
      }
    }
    &__hint {
        @extend %hint;
        margin: {
            top: 1.5rem;
            bottom: 1.5rem;
        }
        @include media(768px) {
          margin: {
            top: 1rem;
            bottom: 1rem;
          }
        }
    }
    &__title {
        @extend %title;
        margin: {
            top: 1.5rem;
            bottom: 1.5rem;
        }
        @include media(768px) {
          margin: {
            top: 1rem;
            bottom: 1rem;
          }
        }
    }
    &__description {
        @extend %description;
        margin: {
            top: 2.5rem;
            bottom: 12rem;
        }
        @include media(768px) {
          margin: {
            top: 1rem;
            bottom: 6rem;
          }
        }
    }
}

.form {
  padding: {
    top: 6.5rem;
    bottom: 6.5rem;
  }
  @include media(768px) {
    padding: {
      top: 3rem;
      bottom: 3rem;
    }
  }
  margin-bottom: 7rem;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__title {
    @extend %title;
    color: #333333;
    margin-bottom: 4rem;
    text-align: center;
  }
  &__email {
    margin-top: 4rem;
    padding-bottom: 1rem;
    width: 400px;
    border: none;
    background-color: transparent;
    @extend %description;
    border-bottom: 1px solid #333333;
    @include media(450px) {
      width: 250px;
    }
    &::placeholder {
      color: #626262;
    }
  }
  &__button {
    position: relative;
    left: 175px;
    bottom: 30px;
    border: none;
    background: none;
    cursor: pointer;
    @include media(450px) {
      left: 110px;
      bottom: 32px;
    }
  }
}






