@font-face {
  font-family: 'Playfair_Display';
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
  font-weight: 300;
  font-style: normal; }

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul, li, body {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

html {
  font-size: 10px; }

@media only screen and (max-width: 800px) {
  html {
    font-size: 11px; } }

@media only screen and (max-width: 440px) {
  html {
    font-size: 10px; } }

body {
  background-color: #fff;
  margin: 0 auto;
  font-family: Playfair_Display;
  color: #626262; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7rem; }

@media only screen and (max-width: 670px) {
  .header {
    margin: 3rem; } }

@media only screen and (max-width: 500px) {
  .header {
    margin: 2rem; } }

.logo__image {
  width: 100%; }

@media only screen and (max-width: 500px) {
  .logo__image {
    width: 70%;
    padding-top: 10px; } }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 580px; }

@media only screen and (max-width: 930px) {
  .menu {
    width: 450px; } }

@media only screen and (max-width: 800px) {
  .menu {
    width: 350px; } }

@media only screen and (max-width: 670px) {
  .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 200px;
    max-height: 0;
    position: absolute;
    top: 40px;
    right: -5px;
    background-color: #f0f0f0;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    overflow: hidden; } }

@media only screen and (max-width: 670px) {
  .menu__item {
    padding: 15px; } }

.menu__ref {
  font-family: Playfair_Display;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #626262; }

@media only screen and (max-width: 670px) {
  .menu__ref {
    font-size: 2rem; } }

.menu__ref:hover {
  color: #141414;
  border-bottom: 1px solid #141414; }

.menu__button-hidden {
  display: none; }

@media only screen and (max-width: 670px) {
  .menu__button-hidden {
    display: block;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    color: #626262;
    text-transform: uppercase;
    background: none;
    border: 1px solid #141414;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0px 3px gray, 0px 6px 3px -1px gray;
            box-shadow: 0px 3px gray, 0px 6px 3px -1px gray;
    -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
    transition: -webkit-box-shadow 0.1s ease-in-out;
    -o-transition: box-shadow 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
    cursor: pointer; } }

.menu__button-hidden:active {
  -webkit-transform: translate(0, 2px);
      -ms-transform: translate(0, 2px);
          transform: translate(0, 2px);
  -webkit-box-shadow: 0px 3px gray;
          box-shadow: 0px 3px gray; }

.menu__list_visibility_visible {
  max-height: 250px; }

nav {
  position: relative; }

.first-post__hint, .post__hint {
  font-family: Ubuntu;
  font-weight: 300;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #b4ad9e;
  display: inline-block; }

.first-post__hint, .first-post__title, .first-post__description, .photodiary__container, .footer__container {
  max-width: 1350px;
  margin-left: 15rem;
  margin-right: 15rem; }

@media only screen and (max-width: 1160px) {
  .first-post__hint, .first-post__title, .first-post__description, .photodiary__container, .footer__container {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media only screen and (max-width: 500px) {
  .first-post__hint, .first-post__title, .first-post__description, .photodiary__container, .footer__container {
    margin-left: 2rem;
    margin-right: 2rem; } }

.first-post__title, .post__title, .form__title {
  font-size: 3rem;
  font-weight: 400; }

.first-post__description, .post__description, .form__email {
  font-family: Playfair_Display;
  font-size: 1.4rem;
  line-height: 2.4rem; }

.first-post {
  margin-bottom: 100px; }

.first-post__photo {
  display: block;
  margin: 0 auto 8rem;
  width: 90%; }

.first-post__hint {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

@media only screen and (max-width: 768px) {
  .first-post__hint {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem; } }

.first-post__hint:last-child {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.first-post__title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

@media only screen and (max-width: 768px) {
  .first-post__title {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem; } }

.first-post__description {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

@media only screen and (max-width: 768px) {
  .first-post__description {
    margin-top: 1rem;
    margin-bottom: 1rem; } }

.photodiary__posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -3rem;
  margin-right: -3rem; }

@media only screen and (max-width: 650px) {
  .photodiary__posts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: -1rem;
    margin-right: -1rem; } }

.photodiary__button {
  display: block;
  font-family: Playfair_Display;
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 2rem 3.5rem;
  margin: 4.5rem auto;
  border: 1px solid #626262;
  background: transparent;
  cursor: pointer; }

@media only screen and (max-width: 768px) {
  .photodiary__button {
    padding: 1rem 1.5rem;
    margin: 2.5rem auto; } }

.post {
  width: -webkit-calc(100% / 12 * 5.5 - 3rem * 2);
  width: calc(100% / 12 * 5.5 - 3rem * 2);
  margin-left: 3rem;
  margin-right: 3rem; }

@media only screen and (max-width: 650px) {
  .post {
    width: -webkit-calc(100% / 12 * 12 - 1rem * 2);
    width: calc(100% / 12 * 12 - 1rem * 2);
    margin-left: 1rem;
    margin-right: 1rem; } }

.post__image {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

@media only screen and (max-width: 768px) {
  .post__image {
    margin-top: 1rem;
    margin-bottom: 1rem; } }

.post__hint {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

@media only screen and (max-width: 768px) {
  .post__hint {
    margin-top: 1rem;
    margin-bottom: 1rem; } }

.post__title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

@media only screen and (max-width: 768px) {
  .post__title {
    margin-top: 1rem;
    margin-bottom: 1rem; } }

.post__description {
  margin-top: 2.5rem;
  margin-bottom: 12rem; }

@media only screen and (max-width: 768px) {
  .post__description {
    margin-top: 1rem;
    margin-bottom: 6rem; } }

.form {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  margin-bottom: 7rem;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media only screen and (max-width: 768px) {
  .form {
    padding-top: 3rem;
    padding-bottom: 3rem; } }

.form__title {
  color: #333333;
  margin-bottom: 4rem;
  text-align: center; }

.form__email {
  margin-top: 4rem;
  padding-bottom: 1rem;
  width: 400px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #333333; }

@media only screen and (max-width: 450px) {
  .form__email {
    width: 250px; } }

.form__email::-webkit-input-placeholder {
  color: #626262; }

.form__email::-moz-placeholder {
  color: #626262; }

.form__email:-ms-input-placeholder {
  color: #626262; }

.form__email::-ms-input-placeholder {
  color: #626262; }

.form__email::placeholder {
  color: #626262; }

.form__button {
  position: relative;
  left: 175px;
  bottom: 30px;
  border: none;
  background: none;
  cursor: pointer; }

@media only screen and (max-width: 450px) {
  .form__button {
    left: 110px;
    bottom: 32px; } }

.copyright__item, .social__follow {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #000000; }

.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #f0f0f0; }

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media only screen and (max-width: 370px) {
  .footer__container {
    margin-right: 20px;
    margin-left: 20px; } }

@media only screen and (max-width: 650px) {
  .copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

.copyright__item {
  margin-left: 1rem;
  margin-right: 1rem; }

@media only screen and (max-width: 650px) {
  .copyright__item {
    margin-left: 0;
    margin-right: 0; } }

.copyright__item:first-child {
  margin-left: -1rem; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

@media only screen and (max-width: 650px) {
  .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

.social__follow {
  margin-right: 2rem; }

@media only screen and (max-width: 650px) {
  .social__follow {
    margin-right: 0; } }

.social__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.social__ref {
  padding: 0 1rem 0; }

.social__icon {
  width: 20px;
  height: 20px;
  fill: #6a6969; }

.social__icon:hover {
  fill: #343434;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2); }
